<html>

<head>
    <title>Sudoko Solver</title>

<meta charset="utf-8">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <script src="http://code.jquery.com/jquery-latest.js"></script>
   <script src="/static/js/MyScript.js"></script>
    <script src="/static/js/Check_Validity.js"></script>
    <script src="/static/js/SolvingTable.js"></script>



<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="/">Sudoko Solver</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

    </ul>
  </div>
</nav>
</head>
<main role="main" class="container">
<body >
 {% block body %}{% endblock %}

</body>
</main>
{% block footer %}

<div class="footer ">
<p  class="footer" style="text-align: center;font-size: 1.5em">   by idan z with <a href="https://pythonspot.com/">  python & Flask  </a>.    </p>
</div>
{% endblock %}
</html>